<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cronosgroup.tinkerlink">

    <application
        android:name=".application.TinkerLinkApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ****** PERMISSIONS ******** -->

        <!-- Internet-->
        <uses-permission android:name="android.permission.INTERNET" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cronosgroup.tinkerlink.view.tutorial.TutorialActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tinkerlink" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.cronosgroup.tinkerlink.view.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.stack.main.StackActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>