<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cronosgroup.tinkerlink">


    <!-- ****** PERMISSIONS ******** -->

    <!-- Internet-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.TinkerLinkApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Adjust -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- End Adjust -->

        <!-- Facebook -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1563926360489036"
            android:exported="true" />

        <!-- End Facebook -->

        <activity
            android:name="com.cronosgroup.tinkerlink.view.tutorial.TutorialActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tinkerlink" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.cronosgroup.tinkerlink.view.home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.stack.main.StackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.stack.detail.DetailStackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.sign.SignActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>